html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--primary--lightcyan);
}

:root {
  --primary--lightcyan: #efffff;
  --primary-cyan: #008B8B;
  --primary-darkcyan: #3b8181;

}

.Container {
  width: 80%;
  margin: auto;

}

#errorMessage {
  color: red;
}

.Container h1,
p {
  color: var(--primary-cyan);
  text-align: center;
}

p {
  color: black;
}

label {
  font-size: 24px;
  font-weight: bold;
}

#billAmount,
#cashGiven {
  font-weight: bold;
  width: 80%;
  border: 2px solid var(--primary-darkcyan);
}

label,
input,
button {
  color: var(--primary-cyan);
  display: block;
  text-align: center;
  margin: 5px auto;
}

input {
  color: black;
  height: 25px;
  padding: 0px;
  
}

button {
  height: 30px;
  width:100px;
  color: white;
  background-color: var(--primary-darkcyan);
}


table {
  margin: 12px auto;
  width: 100%;
  height: 60px;
  border: 1px solid black;
  border-collapse: collapse;

}

th,
td {
  padding: 5px;
  border: 0.1px black solid;
  background-color: #daeeee;


}

table caption {
  color: white;
  padding-bottom: 5px;
  background-color: var(--primary-darkcyan);
}


.foot {
  position: absolute;
  bottom: 0px;
  padding: 0px;
  width: 100%;
  color: white;
  background-color: var(--primary-darkcyan);
  text-align: center;
}

.social-media {
  list-style-type: none;
  padding-inline-start: 0px;
}

.foot-links {
  display: inline;
  padding: 2px;

}

.media-link {
  text-decoration: none;
  color: white;
}

.link-icons {
  height: 20px;
  padding: 2px;
}



.social-media .hover-media:hover {
  font-weight: bold;
  color:black;
  background-color:yellow;

}

.link-icons:hover {
  background-color:yellow;
}